:root {
  --app-bg: #ffffff;
  --app-color: #4b5563;
  --main-content-my: 1.5rem;
  --heading-color: var(--app-color);
  --space-y: 1rem;
  --space-x: 1rem;
  --g-py: 0.5rem;
  --g-px: 0.75rem;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: var(--app-bg);
  color: var(--app-color);
}




.main {
  flex: 1;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main-bg {
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  animation: bg-scrolling-reverse 0.92s infinite;
  animation-timing-function: linear;
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

svg.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}




.btn {
  @apply font-semibold py-2 px-4 rounded;
}
.btn {
  @apply shadow rounded;
}
.btn.disabled,
.btn:disabled,
.btn:disabled:hover,
.btn:disabled:active {
  opacity: 0.3;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:active:not(:disabled) {
  @apply bg-blue-600;
}
.btn-gray {
  @apply bg-gray-400 text-white;
}
.btn-gray:not(:disabled) {
  @apply bg-gray-500;
}

.form-control {
  @apply px-3 py-2 placeholder-gray-300 text-gray-600 relative bg-white rounded border-0 shadow outline-none focus:outline-none focus:ring w-full;
}



